In [9]:
import pandas as pd

In [12]:
df = pd.read_csv("../data/earthquake_1995-2023.csv")

In [13]:
df

,title,magnitude,date_time,cdi,mmi,alert,tsunami,sig,net,nst,dmin,gap,magType,depth,latitude,longitude,location,continent,country
0,"M 6.5 - 42 km W of Sola, Vanuatu",6.5,16-08-2023 12:47,7,4,green,0,657,us,114,7.177000,25.0,mww,192.955,-13.8814,167.1580,"Sola, Vanuatu",NaN,Vanuatu
1,"M 6.5 - 43 km S of Intipucá, El Salvador",6.5,19-07-2023 00:22,8,6,yellow,0,775,us,92,0.679000,40.0,mww,69.727,12.8140,-88.1265,"Intipucá, El Salvador",NaN,NaN
2,"M 6.6 - 25 km ESE of Loncopué, Argentina",6.6,17-07-2023 03:05,7,5,green,0,899,us,70,1.634000,28.0,mww,171.371,-38.1911,-70.3731,"Loncopué, Argentina",South America,Argentina
3,"M 7.2 - 98 km S of Sand Point, Alaska",7.2,16-07-2023 06:48,6,6,green,1,860,us,173,0.907000,36.0,mww,32.571,54.3844,-160.6990,"Sand Point, Alaska",NaN,NaN
4,M 7.3 - Alaska Peninsula,7.3,16-07-2023 06:48,0,5,NaN,1,820,at,79,0.879451,172.8,Mi,21.000,54.4900,-160.7960,Alaska Peninsula,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,"M 7.1 - 85 km S of Tungor, Russia",7.1,27-05-1995 13:03,0,9,NaN,0,776,us,0,0.000000,0.0,mwb,11.000,52.6290,142.8270,"Tungor, Russia",Asia,Russia
996,"M 7.7 - 249 km E of Vao, New Caledonia",7.7,16-05-1995 20:12,0,4,NaN,0,912,us,0,0.000000,0.0,mw,20.200,-23.0080,169.9000,"Vao, New Caledonia",NaN,NaN
997,"M 6.9 - 27 km NNW of Maubara, Timor Leste",6.9,14-05-1995 11:33,0,6,NaN,0,732,us,0,0.000000,0.0,mw,11.200,-8.3780,125.1270,"Maubara, Timor Leste",NaN,Indonesia
998,"M 6.6 - 10 km W of Aianí, Greece",6.6,13-05-1995 08:47,0,9,NaN,0,670,us,0,0.000000,0.0,mw,14.000,40.1490,21.6950,"Aianí, Greece",Europe,Greece
999,"M 7.1 - 14 km NE of Cabatuan, Philippines",7.1,05-05-1995 03:53,0,7,NaN,0,776,us,0,0.000000,0.0,mw,16.000,12.6260,125.2970,"Cabatuan, Philippines",NaN,Philippines

In [3]:
fit_df = df.sample(frac=0.39, axis=0, random_state=10)

In [4]:
fit_df

,title,magnitude,date_time,cdi,mmi,alert,tsunami,sig,net,nst,dmin,gap,magType,depth,latitude,longitude,location,continent,country
841,M 7.9 - South Indian Ocean,7.9,18-06-2000 14:44,0,5,NaN,0,960,us,405,0.000,0.0,mwc,10.00,-13.8020,97.4530,South Indian Ocean,NaN,NaN
956,"M 7.2 - 58 km WSW of Panguna, Papua New Guinea",7.2,29-04-1996 14:40,0,6,NaN,0,798,us,0,0.000,0.0,mwc,44.00,-6.5180,154.9990,"Panguna, Papua New Guinea",NaN,Papua New Guinea
544,"M 6.7 - 52 km NNW of Tomé, Chile",6.7,16-03-2010 02:21,5,6,NaN,0,856,us,312,0.000,34.7,mwc,18.00,-36.2170,-73.2570,"Tomé, Chile",NaN,NaN
173,"M 6.7 - 10 km SSW of Coquimbo, Chile",6.7,20-01-2019 01:32,8,8,orange,1,1600,us,0,0.173,22.0,mww,63.00,-30.0404,-71.3815,"Coquimbo, Chile",South America,Chile
759,"M 6.8 - 114 km ESE of Kokopo, Papua New Guinea",6.8,11-03-2003 07:27,0,7,NaN,0,711,us,431,0.000,38.4,mwc,40.20,-4.6940,153.2380,"Kokopo, Papua New Guinea",NaN,Papua New Guinea
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
76,M 7.3 - Flores Sea,7.3,14-12-2021 03:20,9,5,green,1,854,us,0,1.025,32.0,mww,14.27,-7.6033,122.2000,Flores Sea,Asia,Indonesia
969,"M 6.6 - 106 km NE of Yelizovo, Russia",6.6,01-01-1996 09:57,0,7,NaN,0,670,us,0,0.000,0.0,ms,33.00,53.8260,159.5860,"Yelizovo, Russia",Asia,Russia
276,"M 6.8 - 26 km W of Chauk, Myanmar",6.8,24-08-2016 10:34,6,6,yellow,0,981,us,0,1.802,17.0,mww,82.00,20.9228,94.5690,"Chauk, Myanmar",Asia,Myanmar
383,"M 7.4 - 112 km S of Kirakira, Solomon Islands",7.4,13-04-2014 12:36,0,6,green,1,842,us,0,2.885,17.0,mww,39.00,-11.4633,162.0510,"Kirakira, Solomon Islands",NaN,NaN
272,"M 6.8 - 76 km WNW of Kandrian, Papua New Guinea",6.8,17-10-2016 06:14,3,6,green,1,716,us,0,3.727,11.0,mww,42.00,-6.0033,148.8870,"Kandrian, Papua New Guinea",NaN,Papua New Guinea

In [15]:
fit_df.to_csv("../data/earthquake_dataset.csv")

In [16]:
fit_df.index

Index([2893144,  503337,  433472, 1932628, 1690290, 3020503,  635283, 1777965,
       1895803, 2792440,
       ...
        986282, 1386322, 2390166, 2733022,  472363, 2097486, 1609243,  563199,
       1299201, 1967053],
      dtype='int64', length=1343843)

In [17]:
real_time_data = df.drop(fit_df.index, axis=0)

In [18]:
real_time_data.to_csv("../data/real_time_data.csv")

In [19]:
real_time_data

,time,place,status,tsunami,significance,data_type,magnitudo,state,longitude,latitude,depth,date
2,631154083450,"7 km W of Cobb, California",reviewed,0,19,earthquake,1.11,California,-122.806167,38.821000,3.220,1990-01-01 00:34:43.450000+00:00
4,631155824490,"16km N of Fillmore, CA",reviewed,0,134,earthquake,2.95,California,-118.934000,34.546000,16.122,1990-01-01 01:03:44.490000+00:00
7,631156431950,"12 km E of Mammoth Lakes, California",reviewed,0,11,earthquake,0.83,California,-118.834167,37.661500,0.556,1990-01-01 01:13:51.950000+00:00
8,631156614070,"11 km E of Mammoth Lakes, California",reviewed,0,39,earthquake,1.59,California,-118.840167,37.662333,-0.234,1990-01-01 01:16:54.070000+00:00
9,631156620210,"1 km W of Wilkeson, Washington",reviewed,0,74,earthquake,2.20,Washington,-122.071167,47.102500,8.382,1990-01-01 01:17:00.210000+00:00
...,...,...,...,...,...,...,...,...,...,...,...,...
3445741,1690625310020,"4 km SW of Redlands, CA",automatic,0,16,earthquake,1.01,California,-117.215500,34.030167,14.450,2023-07-29 10:08:30.020000+00:00
3445742,1690625393345,Southern Alaska,automatic,0,22,earthquake,1.20,Southern Alaska,-152.159400,60.104900,53.900,2023-07-29 10:09:53.345000+00:00
3445743,1690626164400,"16 km ESE of Julian, CA",automatic,0,11,earthquake,0.85,California,-116.432833,33.035833,7.370,2023-07-29 10:22:44.400000+00:00
3445748,1690627215940,"12 km W of Alberto Oviedo Mota, B.C., MX",automatic,0,90,earthquake,2.42,B.C.,-115.296833,32.233167,1.770,2023-07-29 10:40:15.940000+00:00
3445750,1690628937884,"35 km W of Karluk, Alaska",automatic,0,12,earthquake,0.90,Alaska,-155.051000,57.564800,250.000,2023-07-29 11:08:57.884000+00:00

In [20]:
len(real_time_data) / 2

1050954.0

In [21]:
real_time_data = pd.read_csv("../data/real_time_data.csv", index_col=0)

:

In [ ]:
real_time_data

,time,place,status,tsunami,significance,data_type,magnitudo,state,longitude,latitude,depth,date
2,631154083450,"7 km W of Cobb, California",reviewed,0,19,earthquake,1.11,California,-122.806167,38.821000,3.220,1990-01-01 00:34:43.450000+00:00
4,631155824490,"16km N of Fillmore, CA",reviewed,0,134,earthquake,2.95,California,-118.934000,34.546000,16.122,1990-01-01 01:03:44.490000+00:00
7,631156431950,"12 km E of Mammoth Lakes, California",reviewed,0,11,earthquake,0.83,California,-118.834167,37.661500,0.556,1990-01-01 01:13:51.950000+00:00
8,631156614070,"11 km E of Mammoth Lakes, California",reviewed,0,39,earthquake,1.59,California,-118.840167,37.662333,-0.234,1990-01-01 01:16:54.070000+00:00
9,631156620210,"1 km W of Wilkeson, Washington",reviewed,0,74,earthquake,2.20,Washington,-122.071167,47.102500,8.382,1990-01-01 01:17:00.210000+00:00
...,...,...,...,...,...,...,...,...,...,...,...,...
3445741,1690625310020,"4 km SW of Redlands, CA",automatic,0,16,earthquake,1.01,California,-117.215500,34.030167,14.450,2023-07-29 10:08:30.020000+00:00
3445742,1690625393345,Southern Alaska,automatic,0,22,earthquake,1.20,Southern Alaska,-152.159400,60.104900,53.900,2023-07-29 10:09:53.345000+00:00
3445743,1690626164400,"16 km ESE of Julian, CA",automatic,0,11,earthquake,0.85,California,-116.432833,33.035833,7.370,2023-07-29 10:22:44.400000+00:00
3445748,1690627215940,"12 km W of Alberto Oviedo Mota, B.C., MX",automatic,0,90,earthquake,2.42,B.C.,-115.296833,32.233167,1.770,2023-07-29 10:40:15.940000+00:00
3445750,1690628937884,"35 km W of Karluk, Alaska",automatic,0,12,earthquake,0.90,Alaska,-155.051000,57.564800,250.000,2023-07-29 11:08:57.884000+00:00

In [ ]:
ent = next(real_time_data.iterrows())

In [ ]:
ent[1]

time                                631154083450
place                 7 km W of Cobb, California
status                                  reviewed
tsunami                                        0
significance                                  19
data_type                             earthquake
magnitudo                                   1.11
state                                 California
longitude                            -122.806167
latitude                                  38.821
depth                                       3.22
date            1990-01-01 00:34:43.450000+00:00
Name: 2, dtype: object